.container {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // height: 100vh;
  // width: 100%;

  .images {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 25rem;
    height: 25rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    will-change: clip-path;
    overflow: hidden;

    .imageContainer {
      z-index: 1;
      position: absolute;
      width: 100%;
      height: 100%;
      clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
      will-change: clip-path;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .buttonContainer {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1rem;

    .button {
      padding: 0.5rem 1rem;
      background-color: #000000;
      color: white;
      cursor: pointer;
    }
  }
}
