.container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    z-index: 10;
  }

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background-color: rgba(148, 30, 30, 1);
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .overlayImage {
      height: 500px;
      width: 300px;
      background-color: white;
      position: relative;
    }
  }

  .infiniteGrid {
    background-color: slategrey;
    height: 100%;
    width: 100%;
    position: absolute;
    // overflow: hidden;
    cursor: grab;

    &.dragging {
      cursor: grabbing;
    }

    .imageContainer {
      position: absolute;
      width: 300px;
      height: 500px;
      user-select: none;
      -webkit-user-drag: none;
    }
  }
}
